<div class="row">
	<div class="col-md-3"><a href="/banner/add/{{ campaign_id }}" class="btn">Add new</a></div>
</div>
<table class="table">
	<tr>
		<th>Banner name</th>
	</tr>
{% for banner in task.result %}
	<tr>
		<td><a href="/banner/detail/{{ banner.bannerId }}/">{{ banner.bannerName|d("<no name>") }}</a></td>
	</tr>
{% endfor %}
</table>