<div class="row">
	<div class="page-header col-md-6">
		<h1>{{ task.result.bannerName|d("<no name>") }}</h1>
		<p class="lead">It points to <code>{{ task.result.url|d("nowhere") }}</code></p>
	</div>
	<div class="col-md-4">
		<div class="button-group">
			<a href="/banner/edit/{{ task.result.bannerId }}/" class="btn">Edit</a>
			<a href="/banner/zones/{{ task.result.bannerId }}/" class="btn">Zones</a>
		</div>
	</div>
</div>
<a href="{{ task.result.url }}"><img src="{{ task.result.imageURL }}"></a>