<div class="row">
	<div class="col-md-3"><a href="/campaign/add/" class="btn">Add new</a></div>
</div>
<table class="table">
	<tr>
		<th>Campaign name</th>
		<th>Start date</th>
		<th>End date</th>
		<th>Comments</th>
		<th>Advertiser ID</th>
	</tr>
{% for campaign in task.result %}
	<tr>
		<td><a href="/campaign/detail/{{ campaign.campaignId }}/">{{ campaign.campaignName }}</a></td>
		<td>{{ campaign.startDate }}</td>
		<td>{{ campaign.endDate }}</td>
		<td>{{ campaign.comments }}</td>
		<td>{{ campaign.advertiserId }}</td>
	</tr>
{% endfor %}
</table>