<div class="row">
	<div class="page-header col-md-6">
		<h1>{{ task.result.campaignName|d("<no name>") }}</h1>
		<p class="lead">{% if task.result.startDate %}{{ task.result.startDate }} - {{ task.result.endDate }}{% endif %}</p>
	</div>
	<div class="col-md-4">
		<div class="button-group">
			<a href="/campaign/edit/{{ task.result.campaignId }}/" class="btn">Edit</a>
			<a href="/campaign/delete/{{ task.result.campaignId }}/" class="btn">Delete</a>
			<a href="/banner/list/{{ task.result.campaignId }}/" class="btn">Banners</a>
		</div>
	</div>
</div>
<dl class="dl-horizontal">
	<dt>Start date</dt>
	<dd>{{ task.result.startDate }}</dd>
	<dt>End date</dt>
	<dd>{{ task.result.endDate }}</dd>
	<dt>Comments</dt>
	<dd>{{ task.result.comments }}</dd>
</dl>