<div class="row">
	<div class="col-md-3"><a href="/zone/add/" class="btn">Add new</a></div>
</div>
<table class="table">
	<tr>
		<th>Zone name</th>
		<th>Dimensions</th>
	</tr>
{% for zone in task.result %}
	<tr>
		<td><a href="/zone/detail/{{ zone.zoneId }}/">{{ zone.zoneName }}</a></td>
		<td>{{ zone.width }}&times;{{ zone.height }}</td>
	</tr>
{% endfor %}
</table>