<div class="row">
	<div class="page-header col-md-6">
		<h1>{{ task.result.zoneName|d("<no name>") }}</h1>
		<p class="lead">{{ task.result.width }}&times;{{ task.result.height }}</p>
	</div>
	<div class="col-md-4">
		<div class="button-group">
			<a href="/zone/delete/{{ task.result.zoneId }}/" class="btn">Delete</a>
		</div>
	</div>
</div>