{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>AdFront</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Custom styles for this template -->
		<link href="{% static "adfront/css/signin.css" %}" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="container">

			<form class="form-signin" role="form" method="post">{% csrf_token %}
				<h2 class="form-signin-heading">Please sign in</h2>
				{{ form.non_field_errors }}
				<input type="username" class="form-control" placeholder="{{ form.username.label }}" name="{{ form.username.html_name }}" required autofocus>
				{{ form.username.errors }}
				<input type="password" class="form-control" placeholder="{{ form.password.label }}" name="{{ form.password.html_name }}" required>
				{{ form.password.errors }}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
	</body>
</html>