{% extends 'base.jinja' %}
{% block content %}
<div class="row">
	<div class="col-md-3"><a href="{{ url('user-add') }}" class="btn">Add new</a></div>
</div>
<table class="table">
	<tr>
		<th>Username</th>
		<th>Revive ID</th>
	</tr>
	{% for user in users %}
	<tr>
		<td><a href="{{ user.get_absolute_url() }}">{{ user.username }}</a></td>
		<td>{{ user.revive_advertiser_id }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}