<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AdFront</title>

	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


	<link rel="stylesheet" href="{{ static('adfront/css/main.css') }}">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{{ static('adfront/js/nunjucks.min.js') }}"></script>
	<script src="{{ static('adfront/js/utils.js') }}"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
	nunjucks.configure("{{ static('deathtrap/shared') }}", {autoescape: true});
	</script>
	{% block extra_header %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url('home') }}">AdFront</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ user.get_absolute_url() }}"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
					<li><a href="{{ url('logout') }}">Log out</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a href="{{ url('home') }}">Home</a></li>
					{% if user.is_superuser %}
					<li><a href="{{ url('user-list') }}">Users</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li{# class="active" #}><a href="{{ url('home') }}">Overview</a></li>
					{% if user.revive_advertiser_id %}
					<li><a href="{{ url('campaign-list') }}">Campaigns</a></li>
					{% endif %}
					{% if user.is_superuser %}
					<li><a href="{{ url('zone-list') }}">Zones</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% block content %}{% endblock %}
			<div id="loading"></div>
			<div id="state"></div>
			<div id="result"></div>
		</div>
	</div><!-- /.container -->
</body>
</html>