{% extends 'base.jinja' %}
{% block extra_header %}
<style>
#throbber {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#toolbar {
	margin-bottom: 10px;
}
#editor {
	position: relative;
	margin: 10px;
	/*background-color: #ddd;*/
	background-image:
		-moz-linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%), 
		-moz-linear-gradient(-45deg, rgba(0,0,0,0.1) 25%, transparent 25%),
		-moz-linear-gradient(45deg, transparent 75%, rgba(0,0,0,0.1) 75%),
		-moz-linear-gradient(-45deg, transparent 75%, rgba(0,0,0,0.1) 75%);
	background-image:
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0,0,0,0.1)), color-stop(.25, transparent)), 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0,0,0,0.1)), color-stop(.25, transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0,0,0,0.1))),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0,0,0,0.1)));

	-moz-background-size:20px 20px;
	background-size:20px 20px;
	-webkit-background-size:20px 21px;

	background-position:0 0, 10px 0, 10px -10px, 0px 10px;

	border: 1px solid #777;
	width: 500px;
	height: 300px;
	line-height: 1;
}
#editor > * {
	position: absolute;
}
#editor > span {
	white-space: nowrap;
}
#layers img {
	height: 18px;
	margin-right: 10px;
}
.editor-bold {
	font-weight: bold;
}
.editor-italic {
	font-style: italic;
}
#editor .active { outline: 3px dashed rgba(200, 200, 200, 0.7); background-color: rgba(200, 200, 200, 0.5) }
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}
.throbbing {
	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 2s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
</style>
<link rel="stylesheet" href="{{ static('adfront/css/pick-a-color-1.2.3.min.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{{ static('adfront/js/tinycolor-0.9.15.min.js') }}"></script>
<script src="{{ static('adfront/js/pick-a-color-1.2.3.min.js') }}"></script>
<script type="text/javascript">
$(function(){
	// $(".pick-a-color").pickAColor({
	// 	showHexInput: false,
	// });
	$("#add-remote").editable({
		unsavedclass: null,
		display: false,
		placement: 'bottom',
		placeholder: 'URL to image',
		success: function(response, newValue) {
			layerStore.add({type: "image", sourceType: "remote", source: newValue});
		}
	});

	function theLayerStore() {
		this.storage = [];
	};
	theLayerStore.prototype.add = function(data) {
		$(document).trigger('layerAdded', [this.storage.push(data), data]);
	};
	theLayerStore.prototype.get = function(el) {
		return this.storage[el-1];
	};
	theLayerStore.prototype.getValue = function(el, key) {
		return this.storage[el-1][key];
	};
	theLayerStore.prototype.setValue = function(el, key, value) {
		this.storage[el-1][key] = value;
		$(document).trigger('layerUpdated', [el-1, this.storage[el]]);
	};
	theLayerStore.prototype.remove = function(key) {
		this.storage[key-1] = null;
	};
	layerStore = new theLayerStore();

	$(document).on('layerAdded', function(e, layerId, data) {
		switch (data.type) {
		case "background":
			layerDescription = 'Layer #' + layerId + ': Background';
			$("#layers > :first-child").after('<li class="list-group-item" data-linked-layer="' + layerId + '">' + layerDescription + '</span>');
			break;
		case "image":
			$("#editor").append('<img id="layer-' + layerId + '" src="' + data.source + '">');
			layerDescription = '<img src="' + data.source + '"> Image #' + layerId;
			$("#layers > :first-child").after('<li class="list-group-item" data-linked-layer="' + layerId + '">' + layerDescription + '</span>');
			break;
		case "text":
			$("#editor").append('<span id="layer-' + layerId + '">' + data.value + '</span>');
			layerDescription = 'Text #' + layerId + ': ' + data.value;
			$("#layers > :first-child").after('<li class="list-group-item" data-linked-layer="' + layerId + '">' + layerDescription + '</span>');
			if (data.bold) $('#layer-' + layerId).addClass('editor-bold');
			if (data.italic) $('#layer-' + layerId).addClass('editor-italic');
			if (data.color) $('#layer-' + layerId).css('color', 'rgb(' + data.color[0] + ', ' + data.color[1] + ', ' + data.color[2] + ')');
			$('[data-linked-layer=' + layerId + ']').editable({
				unsavedclass: null,
				toggle: 'dblclick',
				type: 'text',
				title: function() { return "Text layer #" + $(this).attr('data-linked-layer') },
				value: $("#layer-" + layerId).text(),
				display: function(value, i) {
					$(this).text('Text #' + $(this).attr('data-linked-layer') + ': ' + layerStore.getValue($(this).attr('data-linked-layer'), 'value'));
				},
				success: function(response, newValue) {
					layerStore.setValue($(this).attr('data-linked-layer'), 'value', newValue);
					$("#layer-" + $(this).attr('data-linked-layer')).text(newValue);
				}
			});
			break;
		}
		$('[data-linked-layer=' + layerId + ']').click(onLayerLabelClicked);
		$("#layer-" + layerId).zIndex(layerId);
		$("#layer-" + layerId).draggable({containment: "parent"});
		if (data.position) {
			for (edge in data.position) {
				$("#layer-" + layerId).css(edge, data.position[edge]);
			}
		}
		$('#remove, #move-up, #move-down').prop('disabled', true);
	});

	function onLayerLabelClicked() {
		layerId = $(this).attr('data-linked-layer');
		layer = layerStore.get(layerId);
		$('#editor > *').removeClass('active');
		$('#layer-' + layerId).addClass('active');
		$('[data-linked-layer].active').removeClass('active');
		$(this).addClass('active');
		$('#toolbar > .btn-group[data-tools]:not([data-tools=' + layer.type + '])').hide();
		$('#toolbar > .btn-group[data-tools=' + layer.type + ']').show();
		$('#remove').prop('disabled', typeof layer.locked !== 'undefined');
		$('#move-up').prop('disabled', $(this).is(':nth-child(2)') || typeof layer.locked !== 'undefined');
		$('#move-down').prop('disabled', $(this).next().is(':last-child') || typeof layer.locked !== 'undefined');
	}

	layerStore.add({type: "background", color: [255, 255, 255, 0], locked: true});
	textBoolClasses = ['bold','italic'];
	function dumpData() {
		return {
			canvas: {
				width: $("#editor").width(),
				height: $("#editor").height(),
			},
			layers: dumpLayers(),
			url: $('input[name="url"]').val(),
			name: $('input[name="banner-name"]').val(),
		};
	}
	function dumpLayers() {
		layerDump = [];
		$('[data-linked-layer]').each(function(i, layerLabel) {
			layerId = $(layerLabel).attr('data-linked-layer');
			layerId = parseInt(layerId, 10);
			layer = layerStore.get(layerId);
			if (!layer) {
				return;
			}
			dump = layer;
			layerEl = $("#layer-" + layerId);
			switch (layer.type) {
			case "text":
				for (i in textBoolClasses) {
					cls = textBoolClasses[i];
					dump[cls] = layerEl.hasClass("editor-" + cls);
				}
				break;
			case "image":
				break;
			}
			dump.position = layerEl.position();
			layerDump.push(dump);
		});
		layerDump.reverse(); // we want layers to be drawn from bottom to the top of the layer list
		return layerDump;
	};
	function importLayers(data) {
		$("#editor").css(data.canvas);
		for (layerId in data.layers) {
			layer = data.layers[layerId];
			switch (layer.type) {
			case 'background':
				break;
			default:
				layerStore.add(layer);
			}
		}
	};
	$("#dump").click(function() {$("#result").text(JSON.stringify(dumpLayers()))});
	$("#add-text").click(function() {
		layerStore.add({type: "text", value: "Lorem Ipsum"});
	});
	$(".toggler").click(function(el) {
		$('#layer-' + $('#layers .active').attr('data-linked-layer')).toggleClass("editor-" + $(this).attr('data-attr'));
	});
	$("#color-palette li").click(function(el) {
		$("#color-palette li").removeClass('active');
		$(this).addClass('active');
		rgb = $(this).data('value');
		layerId = $('#layers .active').attr('data-linked-layer');
		$('#layer-' + layerId).css('color', 'rgb(' + rgb[0] + ', ' + rgb[1] + ', ' + rgb[2] + ')');
		layerStore.setValue(layerId, 'color', rgb);
	});
	$("#remove").click(function(el) {
		layerStore.remove($('#layers .active').attr('data-linked-layer'));
		$('#layer-' + $('#layers .active').attr('data-linked-layer')).remove();
		$('#layers .active').remove();
	});
	$("#move-up").click(function(el) {
		layerLabel = $('#layers .active');
		layer = $('#layer-' + layerLabel.attr('data-linked-layer'));
		prevLayer = $('#layer-' + layerLabel.prev().attr('data-linked-layer'));
		if (layerLabel.is(':nth-child(2)')) {
			return;
		}
		layerLabel.insertBefore(layerLabel.prev());
		layerZindex = layer.zIndex();
		layer.zIndex(prevLayer.zIndex());
		prevLayer.zIndex(layerZindex);
		$('#move-up').prop('disabled', layerLabel.is(':nth-child(2)'));
		$('#move-down').prop('disabled', layerLabel.is(':last-child'));
	});
	$("#move-down").click(function(el) {
		layerLabel = $('#layers .active');
		layer = $('#layer-' + layerLabel.attr('data-linked-layer'));
		nextLayer = $('#layer-' + layerLabel.next().attr('data-linked-layer'));
		if (layerLabel.is(':last-child')) {
			return;
		}
		layerLabel.insertAfter(layerLabel.next());
		layerZindex = layer.zIndex();
		layer.zIndex(nextLayer.zIndex());
		nextLayer.zIndex(layerZindex);
		$('#move-up').prop('disabled', layerLabel.is(':nth-child(2)'));
		$('#move-down').prop('disabled', layerLabel.next().is(':last-child'));
	});
	$("#throbber").hide();
	$("#save").one('click', function(e) {
		$("#throbber").show();
	});
	$("form").submit(function(e) {
		e.preventDefault();
		$("#throbber").removeClass("glyphicon-ok")
		.removeClass("glyphicon-remove")
		.addClass("glyphicon-cog")
		.addClass("throbbing");
		data = dumpData();
		$.ajax({
			type: "POST",
			data: {data: JSON.stringify(data)},
			dataType: 'json',
			success: function(data) {
				if (data.banner_id) {
					window.location.href = "{{ url('banner-detail', banner_id=999) }}".replace(999, data.banner_id);
					return;
				}
				$("#throbber").removeClass("glyphicon-cog")
				.removeClass("throbbing")
				.addClass("glyphicon-ok");
				$("#result").text(data.result);
			},
			error: function(data) {
				$("#result").text(data.result);
				$("#throbber").removeClass("glyphicon-cog")
				.removeClass("throbbing")
				.addClass("glyphicon-remove");
			}
		});
	});
	$("#editor").resizable();
	{% if banner %}
	importLayers({{ banner.layers_file.read()|safe }});
	{% endif %}
});
</script>
{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
	<div class="form-group row">
		<div class="col-md-4">
			<input type="text" class="form-control" name="banner-name" placeholder="Banner name" value="{{ banner.name if banner }}">
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control" name="url" placeholder="Destination URL" value="{{ banner.url if banner }}">
		</div>
	</div>
	<div class="btn-toolbar" id="toolbar">
		<div class="btn-group">
			<button type="button" class="btn btn-default" title="Import tools" disabled><span class="glyphicon glyphicon-plus"></span></button>
			<button type="button" class="btn btn-default" id="add-text" title="Add text"><span class="glyphicon glyphicon-align-justify"></span></button>
			<button type="button" class="btn btn-default" id="add-local" title="Add a local image" disabled><span class="glyphicon glyphicon-upload"></span></button>
			<button type="button" class="btn btn-default" id="add-remote" title="Add a remote image"><span class="glyphicon glyphicon-picture"></span></button>
		</div>
		<div class="btn-group" data-tools="text">
			<button type="button" class="btn btn-default" title="Text tools" disabled><span class="glyphicon glyphicon-align-justify"></span></button>
			<button type="button" class="btn btn-default toggler" data-attr="bold"><span class="glyphicon glyphicon-bold"></span></button>
			<button type="button" class="btn btn-default toggler" data-attr="italic"><span class="glyphicon glyphicon-italic"></span></button>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Text color
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id="color-palette" role="menu">
					<li data-value="[0,0,0]"><a href="#">Black</a></li>
					<li data-value="[255,0,0]"><a href="#">Red</a></li>
				</ul>
			</div>
		</div>
		<div class="btn-group" data-tools="image">
			<button type="button" class="btn btn-default" title="Image tools" disabled><span class="glyphicon glyphicon-picture"></span></button>
			<button type="button" class="btn btn-default" id="resize-image" title="Resize image" disabled><span class="glyphicon glyphicon-resize-full"></span></button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" title="Layer tools" disabled><span class="glyphicon glyphicon-list-alt"></span></button>
			<button type="button" class="btn btn-default" id="remove" title="Remove layer"><span class="glyphicon glyphicon-trash"></span></button>
			<button type="button" class="btn btn-default" id="move-up" title="Move up"><span class="glyphicon glyphicon-arrow-up"></span></button>
			<button type="button" class="btn btn-default" id="move-down" title="Move down"><span class="glyphicon glyphicon-arrow-down"></span></button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default" title="Banner tools" disabled><span class="glyphicon glyphicon-file"></span></button>
			<button type="submit" class="btn btn-success" id="save">Save</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div id="editor"></div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-5">
					<span id="throbber" class="glyphicon glyphicon-cog"></span>
				</div>
			</div>
		</div>
		<ul class="list-group col-md-3" id="layers">
			<li class="list-group-item disabled">Layer list 
			<button type="button" class="btn btn-default btn-xs" id="dump">Dump</button></li>
		</ul>

	</div>
</form>
{% endblock %}