{% extends 'base.jinja' %}
{% block extra_header %}
<script type="text/javascript">
$(function(){
	task_post({
		form: $("#form"),
		success_url: "{{ url(success_url, agency_id=999) }}"
	});
});
</script>
{% endblock %}
{% block content %}
<form method="post" id="form">{% csrf_token %}
{{ form.as_p() }}
<input type="submit">
</form>
<div id="loading">LOADING</div>
<div id="state"></div>
<div id="result"></div>
{% endblock %}