{% extends 'base.jinja' %}
{% block extra_header %}
<script type="text/javascript">
$(function(){
	task_post({
		form: $("#form"),
		success_url: "{{ url(success_url) }}",
		context: {{ js_context|safe if js_context else "{}" }}
	});
});
</script>
{% endblock %}
{% block content %}
<form method="POST">{% csrf_token %}
<p class="lead">Are you sure you want to delete this resource?</p>
<button type="submit" class="btn btn-danger">Yes, I want to delete it.</button>
</form>
{% endblock %}