{% extends 'base.jinja' %}
{% block extra_header %}
{% if tasks %}
<script type="text/javascript">
$(function(){
{% for task in tasks %}
	task_get({
		task_id: "{{ task.task_id }}",
		template_name: "{{ task.template }}",
		context: {{ js_context|safe if js_context else "{}" }}
	});
{% endfor %}
});
</script>
{% endif %}
{% endblock %}