{% extends 'base.jinja' %}
{% block extra_header %}
<script type="text/javascript">
$(function(){
	task_post({
		form: $("#form"),
		success_url: "{{ url(success_url, 999) }}",
		context: {{ js_context|safe if js_context else "{}" }}
	});
});
</script>
{% endblock %}
{% block content %}
{{ form }}
{% endblock %}